body {
  background-color:tomato;
  color: black;
  width: 500px;
  margin-right: auto;
  margin-left : auto;
}
button {
  padding: 5px 20px;
  background-color: chocolate;
  border-style: none;
}
input {
  height: 20px;
}